.container{
    background-color: lightgray;
    height: 950px;
}
#heading{
    text-align: center;
}
input[type="text"]{
    margin: 10px;
    font-size: xx-large;
}
select{
    margin: 10px;
    font-size: xx-large;
}
button[type="submit"]{
    background-color: lightblue;
    margin: 10px;
    font-size: xx-large;
}